/*  This is custom styling for the markdown fields in the admin interface. Pagedown is the
    Django app using this css. This css positions the markdown preview to the left of the
    input field side-by-side, instead of underneath.*/

div.wmd-wrapper{
	display: -webkit-flex;
    display: flex;
}

.wmd-panel{
    width: 50%;
    display: inline-block;
    margin-right: 5%;
}

.wmd-wrapper > .wmd-panel > textarea.wmd-input {
    width: 80%;
}