@import "../variables/custom_variables";

footer.main-footer{
  padding: 1em 0;
  ul{
    margin-bottom: 0;
    padding: 0;
    list-style: none;
        li{
            display: inline-block;

            a{
                color: inherit;
                padding: 1em;
                font-weight: normal;
                font-size: 14px;
                text-transform: uppercase;
                border-radius: $border-radius-base;
                text-decoration: none;
                position: relative;
                display: block;

                &:hover{
                    text-decoration: none;
                }
            }
        }
    }

    .copyright{
        padding: 1em 0;
        .material-icons{
            font-size: 18px;
            position: relative;
            top: 3px;
        }
    }
}
