<div id="paralax-bg" class="header header-filter" style="transform: translate3d(0px, 0px, 0px); background-image: url('img/mountain-bg2.jpg')">
</div>
<div class="container top-content">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="brand-index">
                <h1>About crag finder</h1>
                <h3>Vad är det här...?</h3>
                <div class="search-box">
                  <div class="search-bg"></div>
                </div>
            </div>
        </div>
    </div>
  </div>

<div class="main main-raised">
    <div class="section section-basic">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2">
                  <h2 class="title text-center">Välkomnen</h2>
                  <h5 class="description">
                      Visionen med den här sidan är att fylla ett behov som vi kännt funnits ett tag i klättersverige. En komplett och användbar översikt på den klättring som erbjuds i vårt långa land. Målet är att skapa positiv spiral genom erbjuda en bra användarupplevelse som uppmuntrar till att uppdatera och skapa nytt material, vilket i sin tur bidrar till användarupplevelsen för andra.
                  </h5>
                  <h5 class="description">
                      Vi som ligger bakom sidan för stunden är Isac & Jonathan. Frågor, påståenden eller idéer, vill man höra av sig så finns vi på <a>isac@cragfinder.se</a> & <a>jonathan@cragfinder.se</a>
                  </h5>
              </div>
          </div>

          <div class="row">
          <div class="features text-center">

              <div class="col-md-4">
                  <div class="feature feature-success">
                      <i class="material-icons">copyright</i>
                      <h4 class="title">Fritt för alla</h4>
                      <p class="description">
                          Vi vill att både källkod och information fritt ska kunna användas och modifieras av alla. Redaktionella behörigheter kommer att delas ut för att säkerställa en rimlig kvalitetsnivå på uppladdat material, men tanken är att alla som vill ska kunna bidra.
                      </p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="feature feature-primary">
                      <i class="material-icons">accessibility</i>
                      <h4 class="title">Användaren i fokus</h4>
                      <p class="description">
                          En hemsida är inget utan dess användare. Genom att skapa en snabb, användbar och lättnavigerad hemsida hoppas vi på att locka klättersverige. Mobilanpassning är en självklarhet och
                      </p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="feature feature-danger">
                      <i class="material-icons">computer</i>
                      <h4 class="title">Framtidssäkrad och utbyggbart.</h4>
                      <p class="description">
                        Cragfinder.se byggs på en både stabil och flexibel teknisk plattform. Några buzz-words för den insatte är: Cloudfront, S3, Elastic Beanstalk, Docker, Django REST, Emberjs för att nämna några. Källkoden kan du se i länken nere i footern.
                      </p>
                  </div>
              </div>
          </div>
        </div>
      </div>

    </div>
</div>

