
<div class="row">
    <div class="col-md-6 hidden-sm hidden-xs">
        <div class="above-content">
            <div class="area-info">
                <h1>Om Crag finder</h1>
                <h4>Här finns lite info om sidan, vilka vi är som ligger bakom och vad våra
                    tankar, förhoppningar och mål med det här projektet är.</h4>
                <div class="area-info-bg"></div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="visible-sm visible-xs">
            <h1>Om Crag finder</h1>
            <p>
                Här finns lite info om sidan, vilka vi är som ligger bakom och vad våra
                tankar, förhoppningar och mål med det här projektet är.
            </p>
        </div>
        <div class="col-xs-12">
            <h2>Välkomnen</h2>
            <p>
                Visionen med den här sidan är att fylla ett behov som vi kännt funnits ett tag i klättersverige. En komplett och användbar översikt på den klättring som erbjuds i vårt långa land. Målet är att skapa positiv spiral genom erbjuda en bra användarupplevelse som uppmuntrar till att uppdatera och skapa nytt material, vilket i sin tur bidrar till användarupplevelsen för andra.
            </p>
            <h2>Vilka är ni?</h2>
            <p>Isac & Jonathan heter vi. Jonathan är baserad i Linköping, Isac är för tillfället Göteborgare, men blir snart Stockholmare. Båda är blivande ingenjörer med för mycket fritid.</p>
            <p>
                Frågor, påståenden, idéer eller om vill du bara höra av dig så finns vi på <a>isac@cragfinder.se</a> & <a>jonathan@cragfinder.se</a>
            </p>
            <h2>Varför gör ni det här?</h2>
            <p>Tjäna grova pengar såklart. Nej, det känns lite naivt. Då finns det bättre projekt att jobba med. Vi tycker det vore kul om sidan används och kommer till nytta, så kan man ge tillbaka lite till en sport som har gett en mycket.</p>
            <p>
                Vi vill att både källkod och information fritt ska kunna användas och modifieras av alla. Redaktionella behörigheter kommer att delas ut för att säkerställa en rimlig kvalitetsnivå på uppladdat material, men tanken är att alla som vill ska kunna bidra.
            </p>
            <p>
                En hemsida är inget utan dess användare. Genom att skapa en snabb, användbar och lättnavigerad hemsida hoppas vi på att locka klättersverige. Mobilanpassning är en självklarhet och
            </p>
            <h2>Hur fungerar sidan?</h2>
            <p>
                Cragfinder.se byggs på en både stabil och flexibel teknisk plattform. Några buzz-words för den insatte är: Cloudfront, S3, Elastic Beanstalk, Docker, Django REST, Emberjs för att nämna några. Källkoden kan du hitta via länken nere i footern.
            </p>
            <h2>Oj, vad... mycket cyan.</h2>
            <p>Japp, vi är båda riktiga designers ända ut i fingerspetsarna.</p>
            <h2>Varför blandar ni engelska och svenska överallt?</h2>
            <p>Bra fråga. It's a habit I guess.</p>
            <h2>Vad jobbar ni på nu?</h2>
            <p>Vi har en liten att-göra lista <a href="https://github.com/IsacEkberg/crag-finder/issues">här</a>.</p>
        </div>
    </div>
</div>
<div class="bg-image">
</div>

