<div class="row">
    <div class="col-md-6 hidden-sm hidden-xs">
        <div class="above-content">
            <div class="area-info">
                <h1>Skaffa ett konto</h1>
                <h4>Mycket är under uppbyggnad, men en del går att testa. Skapa områden och leder, märk dessa på kartor för att nämna en del går att göra i vårt backend.</h4>
                <div class="area-info-bg"></div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="row">
        <div class="col-xs-12 visible-sm visible-xs">
            <h1>Skaffa ett konto</h1>
            <h4>Mycket är under uppbyggnad, men en del går att testa. Skapa områden och leder, märk dessa på kartor för att nämna en del går att göra i vårt backend.</h4>
        </div>
        <div class="col-xs-12">
            <h2>Varför då?</h2>
            <p>
                Jo, för att komma in i vårt administrativa back office. Du hittar det <a href="/admin">här.</a>
            </p>
            <p>Där kan du testa att lägga in egna områden, klippor leder och en del annat. Tänk på att
                den här sidan inte är klar, så saker kan försvinna. Vi säger till när den är stabil!</p>
            <h2>Varför behöver jag ett konto?</h2>
            <p>
                Motiveringen är att motverka missbruk. Automatiserade robotar som sprider reklam har en tendens att lämna
                oönskade meddelanden annars.
            </p>
            <h2>Hur gör jag då?</h2>
            <p>Enkelt, gå in <a href="/admin/create_account">här</a> fyll i minst ett användarnamn och en mail du har tillgång till.</p>
            <p>Följ sedan instruktionerna för att skapa ett lösenord, säg till om det strular!</p>
        </div>
    </div>
</div>

{{!--
<div class="bg-image" style="background-image: url('assets/images/mountain-bg.jpg')">
</div>
--}}
<div class="bg-image">
</div>