{{!-- This is the main template --}}

{{!-- Same navbar on all pages --}}
{{nav-bar}}

{{!-- Main content, wrapped in .conatainer --}}
<div id="root" class="container">
  {{outlet}}

  <div id="root_footer"></div>
</div>

{{!-- Footer --}}
<div id="footer">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://github.com/IsacEkberg/crag-finder">Source Code</a>
                </li>
                <li>
                    {{#link-to 'about'}}About{{/link-to}}
                </li>
            </ul>
        </nav>
        <nav class="pull-right copyright">
            © Crafinder mega AB
        </nav>
    </div>
</div>