<div class="row">
    <div class="col-md-6 hidden-sm hidden-xs">
        <div class="above-content">
            <div class="area-info">
                <h1>{{ model.name }}</h1>
                <h4>{{model.short_description}}</h4>
                <div class="area-info-bg"></div>
            </div>
        </div>
    </div>
</div>
<div class="content">
  {{area-nav model=model}}
</div>

{{!--
<div class="bg-image" style="background-image: url('assets/images/mountain-bg.jpg')">
</div>
--}}
<div class="bg-image">
</div>