<div id="paralax-bg" class="header header-filter" style="transform: translate3d(0px, 0px, 0px); background-image: url('img/mountain-bg2.jpg')">
  <div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="brand-index">
                <h1>Crag finder</h1>
                <h3>Find crags close to you.</h3>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="main main-raised">
    <div class="section section-basic">
        <div class="container">
                {{filter-crag filteredList=filteredList autoComplete=(action 'autoComplete') search=(action 'search')}}

                {{#each model as |climbingArea|}}
                    <div class="col-xs-6">

                    <div class="card">
                      <div class="card-height-indicator">
                          <div class="panel-heading"></div>
                        <div class="card-content">
                          <div class="card-image">
                              <img src="/img/mountain-bg.jpg">
                              <h3 class="card-image-headline">{{ climbingArea.name }}</h3>
                          </div>
                          <div class="card-body">
                            {{climbingArea.short_description}}
                          </div>
                          <footer class="card-footer">
                            {{#link-to "area" climbingArea}}Länk{{/link-to}}
                          </footer>

                          </div>
                      </div>
                    </div>
                    </div>
                {{/each}}
        </div>
    </div>
</div>