<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
        <div class="brand-index">

            <div class="search-box">
                <h1>Crag finder</h1>
                <h5>Hitta dina klippor!</h5>
              {{filter-crag areas=model wantedArea=(action 'wantedArea')}}
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="title text-center">Välkomnande text</h2>
            <h5 class="description">
                En liten kort text om vad den här sidan är. Alternativt mera lorem ipsum. Etiam at interdum lorem, vitae pharetra nunc. Nulla sit amet augue tortor. Nunc aliquet lectus quis lacus convallis, non pulvinar mi rhoncus.
            </h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 text-center">
            <div class="feature feature-success">
                <i class="fa fa-map-o fa-4x text-warning"></i>
                <h4 class="title">Hitta till din klippa lätt.</h4>
                <p class="description">
                    Quisque non est pellentesque, imperdiet risus eu, varius eros. Phasellus consectetur euismod libero eget cursus. Pellentesque iaculis lectus gravida magna mattis, ultrices pulvinar diam consequat. Duis volutpat lacinia mollis. Nullam eu erat quis enim congue consequat. Etiam at interdum lorem, vitae pharetra nunc. Nulla sit amet augue tortor. Nunc aliquet lectus quis lacus convallis, non pulvinar mi rhoncus.
                </p>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="feature feature-primary">
                <i class="fa fa-hand-rock-o fa-4x text-primary"></i>
                <h4 class="title">Massa bra saker!</h4>
                <p class="description">
                    Cras malesuada ex mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit pretium lacinia. Phasellus rhoncus posuere justo quis hendrerit. Donec hendrerit euismod lorem a scelerisque. Proin eu mattis lectus. Aenean odio enim, pharetra eget libero quis, convallis commodo nisi. Nunc et ullamcorper nisl, vel fermentum felis.
                </p>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="feature feature-danger">
                <i class="fa fa-fort-awesome fa-4x text-success"></i>
                <h4 class="title">Rodd har inget med saken att göra.</h4>
                <p class="description">
                    Suspendisse viverra faucibus mauris, at fringilla felis posuere vitae. Nullam a nunc et tortor tempor interdum. Nam feugiat ligula vitae tincidunt imperdiet. Duis et velit non urna porttitor dapibus eu a dolor. Ut sit amet interdum dolor. Aliquam non ligula congue, fermentum dui ac, suscipit velit.
                </p>
            </div>
        </div>
    </div>
</div>

{{!--
<div class="bg-image" style="background-image: url('assets/images/mountain-bg.jpg')">
</div>
--}}
<div class="bg-image">
</div>
