<h1>Welcome to Crag Finder</h1>

<p>Find crag close to you!</p>
<!--
{{filter-listing filteredList=filteredList autoComplete=(action 'autoComplete') search=(action 'search')}}
-->
<div class="row">

{{#each model as |climbingArea|}}
    <div class="col-sm-6 col-md-4">
      <div class="panel panel-primary">
          <div class="panel-heading">
              <h3 class="panel-title">{{ climbingArea.name }}</h3>
          </div>
          <div class="panel-body">
              {{#link-to "area" climbingArea}}Länk{{/link-to}}
          </div>
      </div>
    </div>
{{/each}}
</div>

<p>Very good price!</p>