<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
        <div class="brand-index">

            <div class="search-box">
                <h1>Crag finder</h1>
                <h5>Hitta dina klippor!</h5>
              {{filter-crag areas=model wantedArea=(action 'wantedArea')}}
            </div>
        </div>
    </div>
</div>

<div class="content landing-content">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="title text-center">Kul att du hittat hit!</h2>
            <h4 class="description">
              Crag finder är ett pågående projekt där vi vill skapa en samlingsplats för information om all utomhusklättring i Sverige, förare brukar det kallas. Visionen är en sida som uppdateras av samma personer som använder den, klättrarna. Klicka runt lite och se vad du tycker!
            </h4>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 text-center">
            <div class="feature feature-success">
                <i class="fa fa-info-circle fa-4x accent-color"></i>
                <h4 class="title">Öppen information</h4>
                <p class="description">
                  Vi vill skapa en plattform där förarna tillhör klättersverige. Alla ska kunna hjälpa till att utveckla innehållet och alla ska kunna använda den, på alla sätt. Licensfrågor utreds för närvarande. Visionen är så: öppet som möjligt, samtidigt som vi erkänner de som erkännas bör.
                </p>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="feature feature-primary">
                <i class="fa fa-gears fa-4x accent-color"></i>
                <h4 class="title">Modern tappning</h4>
                <p class="description">
                  Webbutveckling idag tillåter många möjligheter. Märka ut den nya leden direkt på bilden du tar vid klippan. Vägbeskrivningar i google maps, men se också var klipport och parkeringar ligger. Spara förare du behöver offline i det format du vill ha dom. Ett redaktionellt system för att minimera administrationsbördan. Mer om projektets finns att läsa  {{#link-to 'about'}}här{{/link-to}}.
                </p>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="feature feature-danger">
                <i class="fa fa-sun-o fa-4x accent-color"></i>
                <h4 class="title">Hjälp till!</h4>
                <p class="description">
                  Har du en ådra för grafik och design? Webbutveckling? Vill du vara med och fylla på med förare? Om du känner att du vill hjälpa till bli en del av det som blir den nya digitala samlingsplatsen för förare. Hör av dig!
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
                Om du vill veta lite mer om projektet och vilka vi är som ligger bakom, klicka på länken i sidfoten här under där det står ”about” för lite mer info. Sen vill vi poängtera att sidan är under uppbyggnad. Du kan söka på förare, dock är innehållet tillfälligt och begränsat i nuläget. Vi har lagt upp dom mest för att se om det funkar. Vi lägger inte upp ”riktiga” förare än, det kommer i sinom tid :)
            </p>

            <p>
                Om du vill komma i kontakt med oss som ligger bakom crag finder. Hör av dig till <a class="accent-color">hej@cragfinder.se</a>.
            </p>
        </div>
    </div>
</div>

{{!--
<div class="bg-image" style="background-image: url('assets/images/mountain-bg.jpg')">
</div>
--}}
<div class="bg-image">
</div>
