<div class="row loading-spinner">
    <div class="col-md-8 col-md-offset-2 text-center">
        <div class="brand-index">

            <div class="search-box">
                <h1>Laddar Crag finder!</h1>
                <div class="row text-center">
                    <div class="col-xs-4 col-xs-push-4">
                        <i class="fa fa-spinner fa-3x fa-spin"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-image">
</div>
<div class="footer_pusher"></div>


