<div class="row">
    <div class="col-md-6 hidden-sm hidden-xs">
        <div class="above-content">
            <div class="area-info">
                <h1>Kartan</h1>
                <h4>Här dyker i framtiden en översikts karta upp över klättringen i din närhet. (Längre bort med)</h4>
                <div class="area-info-bg"></div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <p>
        Lorem Ipsum är en utfyllnadstext från tryck- och förlagsindustrin. Lorem ipsum har varit standard ända sedan 1500-talet, när en okänd boksättare tog att antal bokstäver och blandade dem för att göra ett provexemplar av en bok. Lorem ipsum har inte bara överlevt fem århundraden, utan även övergången till elektronisk typografi utan större förändringar. Det blev allmänt känt på 1960-talet i samband med lanseringen av Letraset-ark med avsnitt av Lorem Ipsum, och senare med mjukvaror som Aldus PageMaker.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ornare mauris. Proin sapien metus, condimentum eget scelerisque ut, commodo a diam. Donec lobortis at lectus at congue. Phasellus orci nisi, luctus id eleifend eget, efficitur eu ante. Vestibulum mollis leo et hendrerit ornare. Aliquam tempus est eleifend ligula hendrerit posuere. Nunc quis accumsan augue, at pellentesque nunc. Duis sit amet venenatis libero. Duis efficitur enim quis orci sagittis semper. Curabitur ipsum arcu, condimentum quis sollicitudin ac, interdum ut sapien. Duis laoreet commodo tellus, eget scelerisque ligula bibendum sed. Donec vehicula magna sed urna suscipit, feugiat efficitur orci tempus. Fusce non enim sed risus cursus ornare.
    </p>
    <p>
        Ut aliquet leo ut nibh congue lacinia. Nulla rutrum blandit dolor, et facilisis lectus molestie placerat. Duis sed hendrerit sem. Ut semper et sapien a gravida. Suspendisse est sapien, aliquam a auctor nec, gravida ut nibh. Etiam urna dui, porta sit amet tristique mollis, finibus et sapien. Cras ut mauris nec nisl ornare venenatis. Nullam viverra, lectus vitae condimentum ornare, massa ipsum sagittis metus, non placerat metus magna sit amet turpis. Nullam aliquet, ex in placerat varius, nisi risus consectetur lorem, at ultrices orci leo nec magna. Mauris condimentum ligula ipsum, nec porttitor ipsum hendrerit nec. Praesent tempus augue sed nunc egestas, vitae auctor turpis volutpat. Aliquam erat volutpat. Donec sagittis ante eget quam mollis, sed laoreet justo hendrerit. Sed velit metus, lacinia non ullamcorper non, interdum sed arcu. Phasellus non ante faucibus, placerat odio sit amet, accumsan diam.
    </p>
    <p>
        Vivamus vel purus sed ante viverra ullamcorper nec faucibus nulla. Donec felis tellus, varius sit amet ultrices eu, congue a odio. In et blandit nisl. In ut sapien tempor, facilisis dui et, semper velit. Nulla vitae maximus leo. Nulla eget mauris nec felis venenatis maximus. Vivamus bibendum nec velit ac convallis. Donec euismod vitae justo vitae accumsan. Aliquam mi turpis, rhoncus eu magna at, dapibus sollicitudin nisl. Nunc elementum dui ut lacus pretium, ut viverra elit vulputate. Vivamus a dolor odio. Aliquam semper, lacus nec interdum lacinia, ipsum leo posuere dolor, mattis volutpat risus augue vitae enim. Phasellus ipsum justo, feugiat ac tellus sit amet, convallis condimentum orci. Vivamus mattis pharetra leo, ac condimentum ex euismod vel. Suspendisse ullamcorper libero lacus, eu pretium odio rhoncus id.
    </p>
</div>

{{!--
<div class="bg-image" style="background-image: url('assets/images/mountain-bg.jpg')">
</div>
--}}
<div class="bg-image">
</div>