<div class="input-group">
    <input id="area-search" type="text" class="form-control" placeholder="Sök efter...">
    <div id="search-results" class="search-dropdown">
    </div><!-- /input-group -->
</div>

