<nav class="navbar navbar-fixed-top navbar-color-on-scroll navbar-transparent">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation_index">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{#link-to 'index'}}
                <div class="logo-container">
                  <div class="logo">
                    <img src="img/logo2.png">
                  </div>
                  <div class="brand">
                      Crag Finder
                  </div>
                </div>
            {{/link-to}}
        </div>
        <div class="collapse navbar-collapse" id="navigation_index">
            <ul class="nav navbar-nav navbar-right">
              {{#nav-bar-link 'construction'}}Search{{/nav-bar-link}}
              {{#nav-bar-link 'construction'}}Map{{/nav-bar-link}}
              {{#nav-bar-link 'construction'}}Profile{{/nav-bar-link}}
            </ul>
        </div>
    </div>
</nav>
